out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
*ckpt
wandb
evaluate.py
test_data.json
todo.txt
.venv
.vscode
env
cache/*
db/*
lora-alpaca/*
!cache/.gitkeep
!lora-alpaca/.gitkeep
!db/initdb
!db/config
!db/seeder