accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire

# -----------------------------------------------
# PEFT
# version v0.5.0 <= 0.9.0, supports "prepare_model_for_kbit_training" method
#git+https://github.com/huggingface/peft.git@v0.5.0
#
# But latest version used "prepare_model_for_kbit_training" instead
git+https://github.com/huggingface/peft.git

transformers==4.30.1
sentencepiece
gradio
markdown-it-py==2.2.0
scipy
SQLAlchemy==2.0.20
psycopg2-binary